.administration {

    /* Main administration panel */
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        border-color: #637383 #dee2e6 #fff;
        border-top-width: 2px;
    }

    .form-inline .search-input-field {
        width: 230px;
    }

    .dark-div {
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 9998;
    }

    /* Add new car panel */
    .add-new-car-form {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        background-color: #fff;
        z-index: 9999;
        position: fixed;
        
        .list-group {
            overflow-y: auto;
        }

        h3 {
            background-color: rgb(247, 247, 247);
        }

        footer {
            background-color: rgb(247, 247, 247);
        }

        .small-screen-label {
            display: none;
        }

        .small-screen-currency-column {
            display: none;
        }

        .saveform-spinner {
            animation-duration: 1s
        }

        .saveform-success {
            color: rgb(40, 167, 69);
        }

        .saveform-fail {
            color :rgb(220, 53, 69);
        }
    }

    /* Main administration panel - responsive */
    @media only screen and (max-width: 770px) {
        .search-input-label {
            display: none;
        }
    }

    @media only screen and (min-width: 576px) and (max-width: 610px) {
        .form-inline .search-input-field {
            width: 190px;
        }
    }

    @media only screen and (max-width: 575px) {
        .add-new-car-button, .form-inline .search-input-field, .search-form-submit {
            width: 100%;
        }

        .engine-data-column {
            display: none;
        }
    }

    /* Add new car panel - responsive */
    @media only screen and (max-width: 767px) {
        .add-new-car-form {
            .small-screen-label {
                display: inline-block;
            }

            .big-screen-label {
                display: none;
            }

            .small-screen-currency-column {
                display: block;
            }

            .big-screen-currency-column {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 870px) {
        .add-new-car-form {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 991px) {
        .add-new-car-form {
            width: 95%;
        }
    }

    @media only screen and (min-width: 991px) and (max-width: 1360px) {
        .add-new-car-form {
            width: 80%;
        }
    }
}