html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer.app-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-heading-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  .page-heading {
    margin: 0;
    font-size: 2rem;
    display: inline-block;
  }
}

.dark-div {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9997;
}

.alert-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 33%;
  min-height: 25%;
  background-color: #fff;
  z-index: 9998;
  position: fixed;
  padding: 15px;
}

@media only screen and (max-width: 767px) {
  .page-heading {
    font-size: 1.75rem;
  }
}

.custom-container {
  max-width: 1160px;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
  .custom-container {
    padding: 0 30px;
    width: 100%;
  }
}

.navbar {
  background: #305694;

  .navbar-toggler {
    border-color: rgb(255,255,255);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  a {
    color: white;
    display: flex;
    align-items: center;

    svg {
      margin-right: .5rem;
    }

    &:hover {
      color: #efefef;
    }
  }
}