.homepage {

  .left {
    padding: 2rem 0;
  }

  .right {
    margin: 2rem 0;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    img {
      width: 90%;
      background: black;
      margin: 3rem auto;
    }
  }
}