.homepage {

  //background: silver;
  //height: 50px;
  .left {
    background: silver;
    //float:right;
    border: 1px solid black;
  }

  .right {

    //background: green;
    //float: left;
    img {
      width: 100%;
      background: black;

    }
  }
}