.homepage {

  .left {
    background: #eaeaea;
    border: 1px solid #adadad;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2px;
    box-shadow: 1px 1px 7px #cacaca;
    h3 {
      font-size: 1.25rem;
    }
  }

  .right {
    margin: 2rem 0;
    h2 {
      font-size: 1.5rem;
    }
    img {
      width: 90%;
      background: black;

    }
  }
}