.search-form {
  background: #eaeaea;
  border: 1px solid #adadad;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 1px 1px 7px #cacaca;
  overflow: auto;
  margin-bottom: 2rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  form {
    .btn {
      float: right;
    }

    fieldset {
      margin-bottom: .5rem;

      legend {
        font-size: 1.25rem;
      }
    }
  }

  .car-classes {
    margin: 1rem 0;

    .class-checked {
      background: #007bff;
      color: white;
    }

    .check-icon {
      opacity: 0;
      position: absolute;
      width: 15px;
      top: -5px;
      left: -5px;
    }

    .check-icon-checked {
      opacity: 100 !important;
    }

    .class-check {
      border: 1px solid #007bff;
      border-radius: .25rem;
      cursor: pointer;
      position: relative;
      user-select: none;
      padding: 0.375rem 0.75rem;
      margin: .25rem;

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        cursor: pointer;
      }
    }
  }

}